//general
.container-fluid {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 435vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  transform: none;
  position: relative;

  @media (min-width: 768px) {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: none;
    position: absolute;
    top: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
::-webkit-scrollbar {
  display: none;
}
section {
  @media (min-width: 768px) {
    width: fit-content;
    overflow: none;
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
//Hero

.hero-container {
  background-color: var(--color-black);
  height: 100vh;
  margin-top: 60px;

  @media (min-width: 768px) {
    max-width: 100vw !important;
    overflow: hidden !important;
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }

  h1 {
    letter-spacing: 1rem;
    word-spacing: 2.75rem;
    line-height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 5em;
    margin: -2em auto 0.1em;
    padding: 0 11.75rem;

    @media (min-width: 768px) {
      font-size: 11em;
      line-height: normal;
      margin: 0.25em auto 0.1em;
      padding: 0;
      z-index: 10;
    }
  }
  span {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      animation: cssmarquee 15s linear infinite;

      @keyframes cssmarquee {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      h2 {
        font-size: 9em;
        padding-right: 1em;
        letter-spacing: 1.75rem;
        word-spacing: 2.5rem;
        display: flex;
        justify-content: center;
        margin: 0;
        z-index: 10;
        text-transform: uppercase;
        transform: translateX(100%);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: var(--color-white);
        -webkit-text-stroke-width: 1px;
        cursor: default;
      }
    }
  }
  img {
    position: absolute;
    left: 5.25%;
    top: 43%;
    transform: translateY(-50%);
    z-index: 99;
    width: 300px;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}

//Nav
.nav {
  background-color: var(--black);
  top: -0.1em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  z-index: 80;
  @media (min-width: 768px) {
    padding: 0em 1em;
  }
  a {
    margin-left: 1em;
    margin-right: 0.2em;
    cursor: pointer;
    @media (min-width: 768px) {
      margin-right: 1em;
      margin-left: 0;
    }

    &:hover {
      color: var(--color-accent);
      transition: 0.4s ease;
      transform: scale(1.2);
    }
  }
}
footer {
  background-color: var(--black);
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.2em 0em;
}
//Socials
.socials {
  .social {
    margin-left: 1em;
    transition: 0.4s ease-in-out;
  }
  .linkedin:hover {
    color: var(--linkedin);
  }
  .dribble:hover {
    color: var(--dribble);
  }
}
//Works
.works {
  background-color: var(--color-black);
  transform: translateY(-5%);
  margin: 3em 0em 0em;
  height: fit-content;
  overflow-y: visible;

  @media (min-width: 768px) {
    width: 140vw;
    height: 100vh;
    transform: translateY(5%);
    margin: 0em 10em 0em 30em;
  }

  h1 {
    font-size: 5.5em;
    cursor: default;
    margin: 0 0.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--color-white);
    -webkit-text-stroke-width: 1px;

    @media (min-width: 768px) {
      font-size: 8em;
    }
  }

  .card-container {
    width: 330px;
    height: 310px;
    background: none;
    cursor: pointer;
    margin: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    height: auto;

    @media (min-width: 768px) {
      display: grid;
      grid-auto-columns: minmax(auto, 1fr);
      grid-template-areas: 'col1 col2 col3 col4';
      grid-gap: 5rem;
      margin: 0.5em 0.5em;
    }
  }
  .card1 {
    grid-area: col1;
    transition: 0.4s;
    animation: ease-in;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px var(--black);
      outline-color: var(--black);
    }
  }
  .card2 {
    grid-area: col2;
    transition: 0.4s;
    animation: ease-in;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px var(--black);
      outline-color: var(--black);
    }
  }
  .card3 {
    grid-area: col3;
    transition: 0.4s;
    animation: ease-in;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px var(--black);
      outline-color: var(--black);
    }
  }
  .card4 {
    grid-area: col4;
    transition: 0.4s;
    animation: ease-in;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px var(--black);
      outline-color: var(--black);
    }
  }
  a,
  a:visited {
    outline: none;
    text-decoration: none;
  }

  img.card-image {
    height: 300px;
    width: 330px;
    box-shadow: 0px 0px 15px -5px var(--black);
    border-radius: 8px;
  }

  video.card-image {
    height: 300px;
    width: 330px;
    box-shadow: 0px 0px 15px -5px var(--black);
    border-radius: 8px;
  }
  

  .card-title {
    color: var(--white-color);
    font-size: 2rem;
    margin: 1rem;
  }
  .card-text {
    color: var(--white-color);
    font-size: 1rem;
    font-family: serif;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 3rem;
    line-height: 24px;
  }
  .overlay {
    height: 300px;
    width: 330px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: 0.4s ease;
    top: 0;
    border-radius: 8px;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-105.5%);

    @media (min-width: 768px) {
      opacity: 0;
      display: unset;
      position: absolute;
      transform: translateY(-2.7%);
    }

    &:hover {
      opacity: 1;
    }
  }
}
//Contact
.forms {
  overflow: visible !important;
}
.contact {
  background-color: var(--color-black);
  width: fit-content;
  transform: translateY(8%);
  height: 40em;

  @media (min-width: 768px) {
    margin: 0em 12em;
    height: fit-content !important;
  }

  h2 {
    font-size: 3em;
    cursor: default;
    margin: 0.5em;

    @media (min-width: 768px) {
      font-size: 4em;
    }
  }
  .contact-container {
    display: flex;
    flex-direction: row;

    @media (min-width: 768px) {
      transform: translateY(-10%);
      margin: 1em 3em;
    }

    img {
      margin: 0em 7em;
      display: none;
    }

    form {
      display: flex;
      flex-direction: column;
      grid-area: form;
      justify-content: flex-end;
      border-radius: 15%;
      z-index: 3;
      margin: 1.75em;

      @media (min-width: 768px) {
        margin: 0em 15em;
      }
    }
    .form-title {
      color: var(--color-white);
    }
    .form-group {
      transition: all 0.3s;
      cursor: default;

      &:focus-within {
        transform: scale(1.05, 1.05);
      }
    }
    .form-control {
      background: var(--color-black);
      outline: none;
      resize: none;
      border: none;
      border-bottom: 2px var(--color-accent) solid;
      margin-bottom: 2.5rem;
      color: var(--color-white);
      font-size: 1rem;
      transition: all 0.5s;
      width: 95%;

      @media (min-width: 768px) {
        width: 150%;
      }

      &::placeholder {
        color: transparent;
      }
      &:focus {
        border-color: var(--color-primary);
      }
      &:focus + .form-label {
        transform: translateY(-5em) scale(0.8);
      }
      &:not(:placeholder-shown) + .form-label {
        transform: translateY(-5em) scale(0.8);
      }
      &:focus + .messaging {
        transform: translateY(-13.2em) scale(0.8);
      }
      &:not(:placeholder-shown) + .messaging {
        transform: translateY(-13.2em) scale(0.8);
      }
    }
    .btnSubmit {
      padding: 0.5rem 1em;
      width: fit-content;
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 4px;
      outline: none;
      border: none;
      background-color: var(--color-accent);

      &:hover {
        background-color: var(--color-secondary);
      }
    }
    .disabled {
      background-color: var(--color-secondary);
      outline: none;
      width: 100%;
      font-size: 1.2rem;
      border-radius: 4px;
      border: none;
      cursor: auto;
    }
    .thank {
      background-color: var(--color-third);
      border-radius: 4px;
    }
    .form-label {
      color: var(--font-color);
      display: block;
      width: fit-content;
      position: absolute;
      transform: translateY(-4.2em);
      transform-origin: 0 0;
      margin-left: 0.5em;
      transition: all 0.3s;
      cursor: default;
    }
    .messaging {
      color: var(--font-color);
      display: block;
      position: absolute;
      transform: translateY(-4.3em);
      margin-left: 0.5em;
      transform-origin: 0 0;
      transition: all 0.3s;
      cursor: default;
    }
  }
}

//Bio
.bio {
  background-color: var(--color-black);
  height: 250vh;
  display: flex;
  flex-direction: row;
  margin-top: -1em;
  overflow-x: hidden;

  @media (min-width: 768px) {
    height: 100vh;
    width: 100vw;
    transform: translateY(12%);
  }

  h3 {
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--color-white);
    -webkit-text-stroke-width: 1px;
    font-size: 8em;

    @media (min-width: 768px) {
      transform: translate(105%, -60%);
    }
  }

  .portfolio {
    margin: 0em;
    padding: 1em;
  }

  .profile {
    transform: translateY(85%);

    @media (min-width: 768px) {
      transform: translateY(0);
    }
  }

  .bio-container {
    div {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        transform: translate(-15%, 5%);
      }

      div {
        background-color: var(--color-watermark);
        padding: 1em;
        height: fit-content;
        transform: translate(-390px, 125%) !important;
        width: 330px;

        @media (min-width: 768px) {
          margin: 3em 4em;
          padding: 2em 1em;
          width: 70vw;
          transform: translate(-120px, 15%) !important;
        }
      }
      .about {
        font-size: 1.1em;
        line-height: 1.75rem;
        cursor: default;
      }
      .circle {
        display: flex;
        background-color: var(--color-primary);
        border-radius: 50%;
        padding: 4em 3em;
        width: fit-content;
        cursor: pointer;
        color: var(--color-black);
        font-weight: 500;
        transform: translate(-375px, 670%);
        z-index: 3;

        @media (min-width: 768px) {
          transform: translate(170%, -30%);
        }

        &:hover {
          background-color: var(--color-accent);
        }
      }
    }
  }
}

//Loading
.loading {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em 0em;
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }

  h1 {
    font-size: 6em;
  }
}
//404
.PageNotFound {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 5em;
  }
}
//info sections
.Pic-wrapper {
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    margin-left: 57%;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.Photo {
  height: 34em;
  width: 26em;

  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    width: 40em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.Video {
  width: 40em;
}
.skill-name {
  color: var(--black-color);
  display: inline-block;
  opacity: 0.9;
  cursor: default;
  font-style: italic;

  @media (min-width: 768px) {
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 0.5rem 1rem;
    
  }
  @media (min-width: 1024px) {
    // margin: -12em 0em 0em 18em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.skill-wrapper {
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    margin: 0em 2em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.dash {
  margin-right: .5em;
  margin-left: .5em;
  color: var(--black-color);
  display: inline-block;
  font-size: 1.5em;

  @media (min-width: 768px) {
  
  }
  @media (min-width: 1024px) {
    margin-right: 1em;
    margin-left: 1em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.exit {
  color: var(--gray-color);
  font-weight: bolder;
  cursor: pointer;
  z-index: 30;
}
.info-title {
  color: var(--gray-color);
  font-size: 2.5em;
  display: block;
  
  cursor: default;
  letter-spacing: 3px;

  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    margin: 2em 1em 0em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.divider-info {
  width: 90%;
  border-bottom: 1px solid var(--gray-color);
  margin: 1em 2em;
}
.info-section {
  overflow: hidden;
  background: var(--white-color);
  z-index: -1;
}
.sidebar {
  margin: 1em;
  overflow-x: hidden;
  height: auto;
  top: 0;
  left: 0;
  margin-bottom: 5em;

  @media (min-width: 768px) {
    
  }
  @media (min-width: 1024px) {
    position: fixed;
    width: 50%;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.info {

  @media (min-width: 768px) {
    
  }
  @media (min-width: 1024px) {
    margin-right: 4em;
    margin-left: 2em;
  }
  @media (min-width: 1450px) {
    // margin: -12.9em 0em 0em 18em;
  }
}
.roll {
  z-index: 0;
}
.video-section {
  position: absolute;
  display: block;
  width: 100vw !important;
}
.a-video{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.sidebar-video {
  margin: 1em;
  overflow-x: hidden;
  height: auto;
  top: 0;
  left: 0;
  margin-bottom: 5em;
}
.info-video {
    max-height: 100vh !important;
    overflow: hidden;
    background: var(--white-color);
    z-index: -1;
}